{% load otree staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Market Rules
    </h3>
    <p>
        In this experiment, two Crops are available: <b>Melons</b> and <b>Pumpkins</b>.
    </p>
    <p>
        In principle, one of the two Crops (Melons or Pumpkins) has a higher value than the other Crop.
    </p>
    <p>
        Yet, the Supplier of the Crop seeds will give more discount if more Farmers decide to produce the same Crop.
    </p>
    <p>
        This means that the revenues of your Crops <b>also</b> depend on the decisions of the other Farmers in your group:
        the <b>more</b> Farmers decide to produce a specific Crop, the <b>higher</b> its revenues.
    </p>
</div>

