{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction - End of Session
{% endblock %}

{% block content %}

<p>
    At the end of the series of 4 experiments, you are asked to fill out a short Questionnaire. Once you
    have filled out this Questionnaire, you will be paid in a separate room. Please stay seated until we call
    your desk number.
</p>
<p>
    <i>If you are ready, click Next to begin the first experiment.</i>
</p>

{% next_button %}

{% endblock %}
