{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction - Completing the Session
{% endblock %}

{% block content %}

<p>
    After 20 Seasons, the experiment is over, and a new experiment will begin. At the
    beginning of this new experiment, you will again be grouped with 7 randomly chosen other
    participants in the room and each participant is randomly labeled with a number 1-8, and the new
    Market Rules are explained in the computer program. After 4 experiments, the session ends.
</p>
<p>
    At the end of the session, you are asked to fill out a short Questionnaire. Once you
    have filled out this Questionnaire, you will be paid in a separate room. Please stay seated until we call
    your desk number.
</p>
<p>
    <i>If you are ready, click Next to begin the first experiment.</i>
</p>

{% next_button %}

{% endblock %}
