{% load otree staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Market Rules
    </h3>
    <p>
        In this experiment, Apples are the only Crop available.
    </p>
    <p>
        Each Season, you can decide if you want to <b>spray Pesticides</b> during the production of your Apples.
    </p>
    <p>
        Using Pesticides will increase your land production.
    </p>
    <p>
        However, the <b>more</b> Farmers decide to use Pesticides,
        the <b>lower</b> the value of <b>all Apples</b> on the Market
        (both Sprayed Apples and Unsprayed Apples).
    </p>
</div>

